section,
.banner {
  height: 100vh;
}
.content {
  position: relative;
  height: 100%;
  gap: 300px;
}
.content h1 {
  margin-top: 30px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 2.3rem;
}
.content a {
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  color: var(--text-color);
  /* background-color: #fd5a1b; */
  border: 3px solid var(--text-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 30px;
  font-weight: 600;
  font-size: 14px;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  opacity: 70%;
}
.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f00909;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

/* 消息发送动画 */
.success-message {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: #c1140b;
  border: 5px dotted #c1140b;
  padding: 20px 50px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.3s ease;
}

.success-message.show {
  display: block;
  animation-name: flyOut;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes flyOut {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(calc(100% + 500px), -50%);
  }
}
